# Игнорируется релизный и отладочный исполняемые файлы
Kazino-Royal
Kazino-Royal-dbg

# Промежуточные файлы
*.o
*.obj
*.tmp
*.temp

# Объектные файлы
*.class
*.dll
*.so
*.a

# Временные файлы
*.log
*.bak
*.swp
