# Игнорирование промежуточных файлов (например, временных файлов сборки)
*.o
*.obj
*.tmp
*.temp

# Игнорирование объектных файлов
*.class
*.exe
*.dll
*.so
*.a

# Игнорирование всех временных файлов
*.log
*.bak
*.swp

# Если вы используете языки программирования, добавьте их специфические файлы
# Например, для Python
	#__pycache__/
	#*.py[cod]

# Для Node.js
	#node_modules/
